<section class="m-4 bg-white">
    <div class="container px-4 mx-auto">
        <div class="flex items-center justify-center text-center md:text-start">
            <h2 class="text-2xl leading-none md:text-[40px] font-bold mb-2 ml-3 mt-8">
                Apprentices
            </h2>


        </div>

        <p class="mx-auto font-light text-center">Software Analysis and Development (ADSO)</p>
        <div class="flex flex-wrap justify-center gap-6 mt-6 text-center md:mt-12">



            <!-- card start -->
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2">
                <a href="">
                    <div class="flex flex-col items-center justify-center">
                        <div class="flex items-center justify-center w-32 h-32">
                            <img src="https://i.pinimg.com/564x/4f/8f/68/4f8f68f8d7be5ad6e86f5446a6150509.jpg"
                                class="w-auto max-w-full max-h-full rounded-full" alt="..." />
                        </div>
                        <div class="p-4 md:p-6">
                            <div class="flex items-center justify-center">
                                <!-- SVG Icono de GitHub -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github me-2">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 
                                                                    5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 
                                                                    -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 
                                                                    2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                </svg>
                                <h2 class="my-2 text-lg font-bold leading-none">FontalvoJ</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->
            <!-- card start -->
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2">
                <a href="">
                    <div class="flex flex-col items-center justify-center">
                        <div class="flex items-center justify-center w-32 h-32">
                            <img src="https://i.pinimg.com/564x/4f/8f/68/4f8f68f8d7be5ad6e86f5446a6150509.jpg"
                                class="w-auto max-w-full max-h-full rounded-full" alt="..." />
                        </div>
                        <div class="p-4 md:p-6">
                            <div class="flex items-center justify-center">
                                <!-- SVG Icono de GitHub -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github me-2">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 
                                                                        5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 
                                                                        -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 
                                                                        2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                </svg>
                                <h2 class="my-2 text-lg font-bold leading-none">FontalvoJ</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->
            <!-- card start -->
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2">
                <a href="">
                    <div class="flex flex-col items-center justify-center">
                        <div class="flex items-center justify-center w-32 h-32">
                            <img src="https://i.pinimg.com/564x/4f/8f/68/4f8f68f8d7be5ad6e86f5446a6150509.jpg"
                                class="w-auto max-w-full max-h-full rounded-full" alt="..." />
                        </div>
                        <div class="p-4 md:p-6">
                            <div class="flex items-center justify-center">
                                <!-- SVG Icono de GitHub -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github me-2">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 
                                                        5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 
                                                        -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 
                                                        2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                </svg>
                                <h2 class="my-2 text-lg font-bold leading-none">FontalvoJ</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full max-w-screen-xl p-4 mx-auto md:flex md:items-center md:justify-between reserved">
        <span class="text-sm font-light text-black sm:text-center">© 2024
            <a class="font-bold">Rentify</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium font-bold text-black sm:mt-0">
            <li class="me-4 md:me-6">
                <a>Terms of use</a>
            </li>
            <li class="me-4 md:me-6">
                <a>Privacy Policy</a>
            </li>
            <li class="me-4 md:me-6">
                <a>Cookie Policy</a>
            </li>
            <li>
                <a>Terms & Conditions</a>
            </li>
        </ul>
    </div>


</section>