.titles{
        font-family: "Zilla Slab", serif;
        font-weight: 700;
        font-style: normal;
    }

    .details {
        font-family: "Zilla Slab", serif;
        font-weight: 300;
        font-style: normal;
    }

