<app-navbar-admin></app-navbar-admin>

<div *ngIf="!reservations.length && !errorMessage" class="flex items-center justify-center text-center titles">
    <p>Loading reservations...</p>
</div>

<div *ngIf="errorMessage" class="flex items-center justify-center text-center text-red-500 titles">
    <p>{{ errorMessage }}</p>
</div>


<div class="w-full max-w-6xl p-4 mx-auto">
    <div class="overflow-hidden bg-white rounded-lg shadow-md">
      
        <!-- Table -->
        <table *ngIf="reservations.length" class="w-full table-auto">
            <!-- Table Header -->
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-3 tracking-wider text-left text-ls titles">Order Date</th>
                    <th class="px-4 py-3 tracking-wider text-left text-ls titles">Car</th>
                    <th class="px-4 py-3 tracking-wider text-left text titles">Customer ID</th>
                    <th class="px-4 py-3 tracking-wider text-left text-ls titles">Customer Name</th>
                    <th class="px-4 py-3 tracking-wider text-left text titles">Start Date</th>
                    <th class="px-4 py-3 tracking-wider text-left text titles">End Date</th>
                    <th class="px-4 py-3 tracking-wider text-left text titles">Total Price</th>
                    <th class="px-4 py-3 tracking-wider text-left text titles">Reservation Status</th>
                    <th class="px-4 py-3 tracking-wider text-left text titles">Edit Status</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let reservation of reservations" class="hover:bg-gray-50">
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.createdAt | date: 'yyyy-MM-dd'}}
                    </td>
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.brand }} - {{ reservation.model }}
                    </td>
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.idClient }}
                    </td>
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.clientName }}
                    </td>
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.startDate | date: 'yyyy-MM-dd' }}
                    </td>
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.endDate | date: 'yyyy-MM-dd' }}
                    </td>
                    <td class="px-4 py-4 text-sm details whitespace-nowrap">
                        {{ reservation.totalCost | currency }}
                    </td>
                    <td class="px-4 py-4 text-sm font-medium text-center whitespace-nowrap">
                        <span class="inline-block mx-auto px-2.5 py-0.5 rounded-full text-xs font-medium" [ngClass]="{
                                'bg-green-100 text-green-800': reservation.status === 'completed',
                                'bg-yellow-100 text-yellow-800': reservation.status === 'pending',
                                'bg-red-100 text-red-800': reservation.status === 'cancelled',
                                'bg-purple-100 text-purple-800': reservation.status === 'active'
                              }">
                            {{ reservation.status }}
                        </span>
                    </td>
                    <td class="px-4 py-4 text-sm text-center details whitespace-nowrap">
                        <button
                            class="inline-flex items-center px-2 py-1 text-xs font-medium text-blue-800 bg-blue-100 rounded-full hover:bg-blue-200"
                            (click)="editReservation(reservation.idReservation)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                                <path fill="#000"
                                    d="M5 1a2 2 0 0 0-2 2v9.998a2 2 0 0 0 2 2h1.046l.25-1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h3v2.5A1.5 1.5 0 0 0 9.498 6h2.5v1.44a2.5 2.5 0 0 1 1-.405V5.413a1.5 1.5 0 0 0-.44-1.06L9.645 1.439A1.5 1.5 0 0 0 8.585 1zm6.791 4H9.5a.5.5 0 0 1-.5-.5V2.206zm1.207 3.06a1.56 1.56 0 0 0-.662.394L8.05 12.74a2.8 2.8 0 0 0-.722 1.257l-.009.033l-.302 1.211a.61.61 0 0 0 .738.74l1.211-.303a2.8 2.8 0 0 0 1.29-.73l4.288-4.288a1.56 1.56 0 0 0-1.545-2.6" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200">
        <div class="flex justify-between flex-1 sm:hidden">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                class="relative inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md titles text-ls hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed">
                Previous
            </button>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()"
                class="relative inline-flex items-center px-4 py-2 ml-3 bg-white border border-gray-300 rounded-md titles text-ls hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed">
                Next
            </button>
        </div>
    
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <p class="text-sm details">
                    Showing
                    <span class="titles">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>
                    to
                    <span class="titles">{{ Math.min(currentPage * itemsPerPage, reservations.length) }}</span>
                    of
                    <span class="titles">{{ reservations.length }}</span>
                    reservations
                </p>
            </div>
    
            <div>
                <nav class="relative z-0 inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                        class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed">
                        <span class="sr-only">Previous</span>
                        &lt;
                    </button>
                    <button *ngFor="let page of getPages()" (click)="changePage(page)"
                        [class.bg-gray-200]="page === currentPage"
                        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50">
                        {{ page }}
                    </button>
                    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()"
                        class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed">
                        <span class="sr-only">Next</span>
                        &gt;
                    </button>
                </nav>
            </div>
        </div>
    </div>

</div>



<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
        <h3 class="text-lg font-medium text-gray-900">Update Reservation Status</h3>
        <div class="mt-4">
            <label for="status" class="block text-sm font-medium text-gray-700">New Status</label>
            <select id="status" [(ngModel)]="newStatus"
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="pending">Pending</option>
                <option value="active">Active</option>
                <option value="completed">Completed</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </div>
        <div class="flex justify-end mt-6">
            <button (click)="closeModal()" class="mr-2 text-gray-700">Cancel</button>
            <button (click)="updateStatus()"
                class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700">Update</button>
        </div>
    </div>
</div>