<app-navbar-home></app-navbar-home>

<section class="bg-white py-14 md:py-24">
    <div class="container px-4 mx-auto md:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-8 md:grid-cols-2">
            <div class="flex flex-col justify-center space-y-4">
                <div class="space-y-2">
                    <h2 class="text-3xl titles md:text-6xl">
                        Premium
                        <br />
                        Rental Cars
                        <br />
                        in Colombia
                    </h2>
                </div>
                <p class="text-lg text">
                    Indulge in the thrill of driving the most stunning premium cars from around the world, right here
                    and right now! Don’t
                    miss out!
                </p>
            </div>
            <div class="relative">
                <div
                    class="flex justify-center transition-transform duration-300 md:justify-end lg:translate-x-14 xl:translate-x-25">
                    <img src="https://www.enterprise.com/content/dam/global-vehicle-images/suvs/JEEP_WRAN_2013.png"
                        alt="Premium car"
                        class="object-contain w-full h-auto max-w-lg transition-transform duration-300 transform hover:scale-105" />
                </div>
            </div>
        </div>
    </div>
</section>



<section class="flex items-center justify-center py-16 overflow-hidden bg-white">
    <div class="container px-4 mx-auto">
        <div class="mx-auto max-w-7xl">
            <div class="mb-8">
                <h1 class="mb-4 text-4xl text-left titles md:text-5xl">Our Automotive Brand Universe</h1>
                <p class="max-w-xl text-lg text">
                    Discover the Power Behind the Wheel: Explore Our Exclusive Automotive Brands!
                </p>
            </div>

            <div class="relative px-4 overflow-hidden">
                <div [ngClass]="{ 'animate-carousel': isAnimated }" [style.animationDuration]="animationDuration"
                    class="flex p-4">
                    <ng-container *ngFor="let image of images">
                        <div class="image-container">
                            <img [src]="image.src" [alt]="image.alt" class="image" />
                        </div>
                    </ng-container>

                    <ng-container *ngFor="let image of images">
                        <div class="image-container">
                            <img [src]="image.src" [alt]="image.alt" class="image" />
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="px-6 py-6 text-center">
    <h2 class="mb-2 text-5xl titles">Our Vehicle Feet</h2>
    <p class="mb-6 text-lg text">
        Experience the thrill of driving the world’s most exclusive premium cars, and do it right now!
    </p>

    <!-- Contenedor de botones -->
    <div class="flex flex-wrap justify-center gap-4 mb-6">
        <button class="px-4 py-2 bg-gray-200 rounded-md titles">Premium</button>
        <button class="px-4 py-2 text-white bg-black rounded-md titles">Coupe</button>
        <button class="px-4 py-2 bg-gray-200 rounded-md titles">Sportcar</button>
        <button class="px-4 py-2 bg-gray-200 rounded-md titles">Hypercar</button>
        <button class="px-4 py-2 text-white bg-black rounded-md titles">Limousines</button>
        <button class="px-4 py-2 bg-gray-200 rounded-md titles">Classic</button>
    </div>



    <!-- Galería de imágenes -->
    <div class="max-w-3xl mx-auto">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-4 row-span-3 h-[200px]">
                <img src="https://bostonluxurycarrental.com/wp-content/uploads/2023/01/Rolls-Royce-Cullinan-700x466.jpg"
                    class="object-cover w-full h-full rounded-lg" alt="Rolls Royce Cullinan" />
            </div>
            <div class="col-span-4 col-start-5 row-span-3 h-[200px]">
                <img src="https://static.wixstatic.com/media/027b66_9c778327ff8a4891bdf1de21f7e49434~mv2.jpeg/v1/crop/x_41,y_8,w_1968,h_1307/fill/w_600,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Mercedes%20Pagoda%20For%20Hire.jpeg"
                    class="object-cover w-full h-full rounded-lg" alt="Mercedes Pagoda" />
            </div>
            <div class="col-span-4 col-start-9 row-span-3 h-[200px]">
                <img src="https://friendscarrental.com/frontend/image/mercedes-benz-gle-350-1729148613659.jpg"
                    class="object-cover w-full h-full rounded-lg" alt="Mercedes Benz GLE 350" />
            </div>

            <!-- Fila inferior con 4 imágenes -->
            <div class="flex w-full col-span-12 gap-2 mt-2">
                <div class="flex-1 h-[140px] p-1">
                    <img src="https://static.wixstatic.com/media/206e63_fc6d04b2e6b741aa8744a600bd2b9361~mv2.jpg/v1/fill/w_640,h_590,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/206e63_fc6d04b2e6b741aa8744a600bd2b9361~mv2.jpg"
                        class="object-cover w-full h-full rounded-lg" alt="Luxury Car Image 1" />
                </div>
                <div class="flex-1 h-[140px] p-1">
                    <img src="https://blog.miamiluxuryautorent.com/wp-content/uploads/2023/06/exotic-car-rental-1024x574.png"
                        class="object-cover w-full h-full rounded-lg" alt="Luxury Car Image 2" />
                </div>
                <div class="flex-1 h-[140px] p-1">
                    <img src="https://trinityrental.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fmedium_main_4ea301ab1e%2Fmedium_main_4ea301ab1e.webp&w=3840&q=75"
                        class="object-cover w-full h-full rounded-lg" alt="Luxury Car Image 3" />
                </div>
                <div class="flex-1 h-[140px] p-1">
                    <img src="https://exoticcarhire.in/wp-content/uploads/2024/09/Luxury-car-rental.jpg"
                        class="object-cover w-full h-full rounded-lg" alt="Luxury Car Image 4" />
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        <button
            class="flex items-center justify-center px-6 py-3 mx-auto bg-gray-100 border border-gray-300 rounded-md titles"
            routerLink="/cars-home">
            Show all models
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ml-2">
                <path fill="currentColor"
                    d="M12.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L16.586 13H5a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414" />
            </svg>
        </button>
    </div>
</section>

<section class="flex items-center justify-center py-16 bg-white">
    <div class="container px-4 mx-auto">
        <div class="mx-auto max-w-7xl">
            <div class="mb-8">
                <h1 class="mb-4 text-4xl text-left titles md:text-5xl">Key Features</h1>
                <p class="max-w-xl text-lg text">
                    Experience unmatched quality and reliability. Your comfort and safety are our top priorities,
                    delivering services beyond your expectations.
                </p>
            </div>

            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
                <!-- Card 1: 24 Hour Car Delivery -->
                <div
                    class="p-6 text-center transition duration-300 ease-in-out bg-white border border-transparent rounded-lg hover:border-blue-100 hover:shadow-lg group">
                    <div class="w-16 h-16 mx-auto mb-4 bg-[#f0f1f5] rounded-full flex items-center justify-center">
                        <i class="text-2xl text-blue-500 fas fa-car"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                            <path fill="#000"
                                d="M9 3V1h6v2zm2 11h2V8h-2zm1 8q-1.85 0-3.488-.712T5.65 19.35t-1.937-2.863T3 13t.713-3.488T5.65 6.65t2.863-1.937T12 4q1.55 0 2.975.5t2.675 1.45l1.4-1.4l1.4 1.4l-1.4 1.4Q20 8.6 20.5 10.025T21 13q0 1.85-.713 3.488T18.35 19.35t-2.863 1.938T12 22m0-2q2.9 0 4.95-2.05T19 13t-2.05-4.95T12 6T7.05 8.05T5 13t2.05 4.95T12 20m0-7" />
                        </svg>
                    </div>
                    <h3 class="text-xl titles">24 Hour Car Delivery</h3>
                </div>


                <!-- Card 2: 24/7 Technical Support -->
                <div
                    class="p-6 text-center transition duration-300 ease-in-out bg-white border border-transparent rounded-lg hover:border-blue-100 hover:shadow-lg group">
                    <div class="w-16 h-16 mx-auto mb-4 bg-[#dee5ff] rounded-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                            <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.6">
                                <path d="M9 9c0-3.5 5.5-3.5 5.5 0c0 2.5-2.5 2-2.5 5m0 4.01l.01-.011" />
                                <path
                                    d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12c0 1.821.487 3.53 1.338 5L2.5 21.5l4.5-.838A9.96 9.96 0 0 0 12 22" />
                            </g>
                        </svg>
                    </div>
                    <h3 class="text-xl titles">24/7 Technical Support</h3>
                </div>


                <!-- Card 3: Premium Secure -->
                <div
                    class="p-6 text-center transition duration-300 ease-in-out bg-white border border-transparent rounded-lg hover:border-blue-50 hover:shadow-lg group">
                    <div class="w-16 h-16 mx-auto mb-4 bg-[#f0f1f5] rounded-full flex items-center justify-center">
                        <i class="text-2xl text-green-600 fas fa-shield-alt"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 14 14">
                            <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round">
                                <path
                                    d="M7 13.39a5 5 0 0 0 5-5V5.61a5 5 0 0 0-1.27-3.33M2 6.72v1.67A5 5 0 0 0 5.06 13M9.5 1.28a5 5 0 0 0-6.83 1.83a4.9 4.9 0 0 0-.57 1.52" />
                                <path
                                    d="M6.48 3.51A2.51 2.51 0 0 1 9.5 6v1.61m-.64 2.1A2.5 2.5 0 0 1 4.5 8V6a2.5 2.5 0 0 1 .2-1M7 6.11v1.67" />
                            </g>
                        </svg>
                    </div>
                    <h3 class="text-xl titles">Premium Secure</h3>
                </div>



                <!-- Card 4: Best Price -->
                <div
                    class="p-6 text-center transition duration-300 ease-in-out bg-white border border-transparent rounded-lg hover:border-blue-100 hover:shadow-lg group">
                    <div class="w-16 h-16 mx-auto mb-4 bg-[#dee5ff] rounded-full flex items-center justify-center">
                        <i class="text-2xl text-purple-600 fas fa-tag"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                            <path fill="#000"
                                d="M6.5 14.975v-1H4v-2h5v-2H4v-6h2.5v-1h2v1H11v2H6v2h5v6H8.5v1zm7.45 6l-4.25-4.25l1.4-1.4l2.85 2.85l5.65-5.65l1.4 1.4z" />
                        </svg>
                    </div>
                    <h3 class="text-xl titles">With the Best Price</h3>
                </div>

            </div>
        </div>
    </div>
</section>










<app-footer-general></app-footer-general>