.font-bold  {
        font-family: "Zilla Slab", serif;
        font-weight: 700;
        font-style: normal;
    }

    .text {
        font-family: "Zilla Slab", serif;
        font-weight: 300;
        font-style: normal;
    }

input::placeholder {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}